* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: url("assets/coliseum.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

.score-board {
  background: rgba(144, 100, 70, 0.75);

  margin-top: 2rem;
  width: 40%;
  height: 40%;
  max-width: 525px;
  max-height: 225px;
  min-width: 275px;
  min-height: 200px;
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid rgb(102, 141, 185);
}

.player,
.computer {
  width: 35%;
  text-align: center;
}

.round,
.tie {
  text-align: center;
}

.break {
  width: 25%;
}

.display1 {
  background-color: white;
  color: rgb(42, 41, 41);
  width: 50%;
  margin: auto;
  text-align: center;
}

.display2 {
  background-color: white;
  text-align: center;
}

.message-display {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 525px;
  max-height: 225px;
  min-width: 275px;
  min-height: 150px;
  flex-grow: 1;
}

.message {
  width: 90%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-interface {
  flex-grow: 1;
}

.user-interface img {
  width: 50px;
}

footer {
  flex-shrink: 0;
  background: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

footer div {
  align-self: center;
}

footer a {
  text-decoration: none;
  color: rgb(102, 141, 185);
  padding: 5px;
}

@media (max-height: 700px), (max-width: 700px) {
  .message {
    background: white;
  }
}
